.channel
  &__guest-counts
    &__body
      height 100%
      width  100%
      display -webkit-flex
      display flex
      -webkit-flex-direction column
      flex-direction         column
      -webkit-justify-content center
      justify-content         center
      text-align center

    &__icon
      font-size 8em
